.Home {
    display: flex;
    flex-direction: column;
}

.Todo {
    display: flex;
}

.Status {
    display: flex;
}

.edit,
.delete {
    width: 20px;
    height: 80%;
}

.button {
    background-color: transparent;
}